#trade{
  width: 60% !important;
  display: inline !important;
}

#tradeLevel{
    width: 36% !important;
    display: inline !important;
  }

#datepicker{
  width: 117% !important;
  display: inline !important;
  padding-top: 0px !important;
}

.container{
  margin-left: 160px !important;
  margin-top: 40px;
  width: 30% !important;
  padding:5px 8px 5px 15px;
  box-shadow: 10px 10px 5px #aaaaaa;
  border: 1px solid #aaaaaa;
  height:720px !important;
}

#developmentOfficer{
  width: 240% !important;
}
#Manager{
  width: 240% !important;
 }

#syllabusName{
  width: 242% !important;
} 