<div class="container">
  <select [(ngModel)]="selectedTrade.ID" (change)="onSelect($event.target)">
    <option value="0">--Select Trade--</option>
    <option *ngFor="let trade of trades" [value]="trade.ID">
      {{ trade.Name }}
    </option>
  </select>
  &nbsp;
  <select [(ngModel)]="selectedTradeLevel.ID" (change)="getData($event.target)">
    <option value="0">--Select Level--</option>
    <option *ngFor="let level of tradeLevels" [value]="level.ID">
      {{ level.Name }}
    </option>
  </select>
  &nbsp;
  <button
    class="btn btn-primary"
    (click)="search(selectedTrade, selectedTradeLevel)"
  >
    search
  </button>
  &nbsp;
  <button class="btn btn-warning" (click)="clearSearch()">clear</button>

  <br /><br />
  <div class="row" style="overflow: scroll">
    <table
      width="100%"
      class="responsive-table table-striped table-bordered table-hover"
      style="height: 100px"
    >
      <thead>
        <tr class="btn-primary" style="height: 40px">
          <th style="width: 10%">
            <b>Action</b>
          </th>
          <th style="width: 10%">
            <b>Trade Name</b>
          </th>
          <th style="width: 15%">
            <b>Trade Level</b>
          </th>
          <th style="width: 10%">
            <b>Languages</b>
          </th>
          <th style="width: 15%">
            <b>Syllabus Name</b>
          </th>

          <th style="width: 10%">
            <b>Syllabus File</b>
          </th>
          <th style="width: 10%">
            <b>Test plan File </b>
          </th>
          <th style="width: 15%">
            <b>Active Date </b>
          </th>
        </tr>
      </thead>
      <tbody style="overflow-y: auto; height: 100px">
        <tr *ngFor="let trade of tradeList">
          <td>
            <button
              class="btn btn-primary"
              (click)="openModal(trade)"
              id="openModalButton"
              data-toggle="modal"
              data-target="#myModal"
              style="margin-left: 20px"
            >
              Edit
            </button>
            <br />
            <br />
            <button
              class="btn btn-danger"
              (click)="Delete(trade.ID)"
              style="margin-left: 10px"
            >
              Delete
            </button>
          </td>
          <td>
            <span>{{ trade.TradeName }}</span>
          </td>
          <td>
            <span>{{ trade.TradeLevel }}</span>
          </td>
          <td>
            <span>{{ trade.Languages }}</span>
          </td>
          <td>
            <span>{{ trade.SyllabusName }}</span>
          </td>
          <td>
            <span>
              <button
                (click)="downloadPdfFile(trade.SyllabusFilePath)"
                class="btn btn-link"
              >
                <span class="fa fa-download">
                  {{ trade.SyllabusFilePath }}</span
                >
              </button>
            </span>
          </td>
          <td>
            <button
              (click)="downloadPdfFile(trade.TestPlanFilePath)"
              class="btn btn-link"
            >
              <span class="fa fa-download"> {{ trade.TestPlanFilePath }}</span>
            </button>
          </td>
          <td>
            <span>{{ trade.ActiveDate | date: "shortDate" }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="modal fade"
    id="myModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModal"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <select
            [(ngModel)]="selectedModalTrade.ID"
            (change)="onModalTradeSelect($event.target)"
          >
            <option value="0">--Select Trade--</option>
            <option *ngFor="let trade of trades" [value]="trade.ID">
              {{ trade.Name }}
            </option>
          </select>
          &nbsp;
          <select
            [(ngModel)]="selectedModalTradeLevel.ID"
            (change)="getModalLevelData($event.target)"
          >
            <option value="0">--Select Level--</option>
            <option *ngFor="let level of modalTradeLevels" [value]="level.ID">
              {{ level.Name }}
            </option>
          </select>
          <div class="row" style="padding-left: 10px">
            <span style="font-weight: 1000">Languages</span>
            <div class="col">
              <div *ngFor="let language of languages">
                <div class="form-check" id="checkBox">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="{{ language.Name }}"
                    name="{{ language.Name }}"
                    id="flexCheckDefault"
                    [checked]="language.isSelected"
                    (change)="onCheckboxChange($event.target)"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    {{ language.Name }}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="padding-left: 10px">
            <div class="col-sm3">
              <label class="form-check-label" for="flexCheckDefault">
                Development Officer
              </label>
              <input
                type="text"
                class="form-control"
                placeholder="Development Officer"
                aria-label="DevelopmentOfficer"
                aria-describedby="basic-addon1"
                style="width: 520px"
                [(ngModel)]="tradeData.DevelopmentOfficer"
                style="width: 300px !important; padding-left: 20px"
              />
            </div>
          </div>
          <br />
          <div class="row" style="padding-left: 10px">
            <div class="col-sm3">
              <label class="form-check-label" for="flexCheckDefault">
                Manager
              </label>
              <input
                type="text"
                class="form-control"
                placeholder="Manager"
                aria-label="Manager"
                aria-describedby="basic-addon1"
                style="width: 520px"
                [(ngModel)]="tradeData.Manager"
                style="width: 300px !important; padding-left: 20px"
              />
            </div>
          </div>
          <br />
          <div class="row" style="padding-left: 10px">
            <div class="col-sm3">
              <label class="form-check-label" for="flexCheckDefault">
                Syllabus Name
              </label>
              <input
                type="text"
                class="form-control"
                placeholder="Syllabus Name"
                aria-label="Syllabus Name"
                aria-describedby="basic-addon1"
                style="width: 520px"
                [(ngModel)]="tradeData.SyllabusName"
                style="width: 300px !important; padding-left: 20px"
              />
            </div>
          </div>
          <br />
          <span style="font-weight: 1000">Active Date</span> &nbsp;
          <input
            type="date"
            value="date"
            id="datepicker"
            (change)="getDate()"
            [ngModel]="tradeData.ActiveDate | date: 'yyyy-MM-dd'"
            (ngModelChange)="tradeData.activeDate = $event"
            [value]="tradeData.ActiveDate | date: 'yyyy-MM-dd'"
            autocomplete="off"
          />
          <br />
          <br />
          <form [formGroup]="editFileForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="row"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <b>Upload Test Plan</b>
              </div>
              <div class="col-md-4">
                <input type="file" #testplanInput id="testplanInput" />
                <br />
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-2">
                <b>Upload Syllabus</b>
              </div>
              <div class="col-md-4">
                <input type="file" #syllabusInput id="syllabusInput" />
                <br />
              </div>
            </div>
            <div class="row" align="center" style="padding-left: 400px"></div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">
                Save changes
              </button>
              <button
                type="button"
                class="button"
                class="btn btn-warning"
                color="primary"
                (click)="clearFields()"
              >
                Clear Fields
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
