#trade{
    width: 20% !important;
    display: inline !important;
  }
  
  #tradeLevel{
      width: 20% !important;
      display: inline !important;
    }

    .container{
      max-width: 85% !important;
    }

#modalTradeLevel{
  width: 35% !important;
  display: inline !important;
}

#modalTrade{
  width: 55% !important;
  display: inline !important;
}

.container{
  margin-left: 169px;
  margin-top: 3%;
}

.modal-dialog {
    max-width: 689px;
    margin: 1.75rem auto;
 }

